@page "/stats"
@using SOTM.Shared.Models
@using SOTM.MissionControl.Models
@using SOTM.MissionControl.Services
@inject DeckDataService deckData
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject GameLogService gameLog

<PageTitle>Statistics</PageTitle>

<h3>Games Played: @totalGames</h3>
<h3>Games Won: @wins</h3>
<h3>Win Rate: @DisplayRatio(wins, totalGames)</h3>

@code {
    int wins;
    int totalGames;

    public string DisplayRatio(int num, int den)
    {
        if (den == 0)
        {
            return "--";
        }
        return $"{Math.Round((double)num/den, 2)}";
    }
    protected override async Task OnInitializedAsync()
    {
        await gameLog.Load(localStorage);
        this.totalGames = gameLog.GetLoggedGames().Count();
        this.wins = gameLog.GetLoggedGames().Where(game => game.state == GameState.WIN).Count();
    }
}
